# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.test
out/

# Folders
_obj
_test

# Debug data
debug/

# Dependencies
code.google.*/
github.*/
launchpad.*/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

# IDE
*.iml
.idea/
.project
